* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(39, 39, 39);
    height: 100vh;
}

.table-grid {
    height: 500px;
    width: 500px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.seat {
    border: 2px solid grey;
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: relative;
}

.seat.active {
    border: 2px solid blue;
}

.hand {
    display: flex;
}

.player {
    height: 151px;
    width: 151px;
    background-color: black;
    border-radius: 90px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.player-name {
    position: absolute;
    color: white;
    top: 15px;   
}

.chip-count {
    position: absolute;
    color: white;
    bottom: 15px; 
    font-weight: bold;
}
.card {
    height: 100px;
    background-color: white;
    border: 1px solid silver;
    border-radius: 3px;
    width: 60px;
    height: 85px;
    margin: -24px;
    background-size: contain;
}

.test-button {
    position: absolute;
    height:50px;
    width: 50px;
    background: red;
}

.btn-container {
    position: absolute;
    padding:10px;
    bottom: 0px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.hit-btn {
    background: rgb(40, 156, 40);
}

.stay-btn {
    background: red;
}

.game-btn {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hide {
    display: none;
}

.score {
    height: 40px;
    width: 40px;
    position: absolute;
    right: 5px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 900;
    color: white;
}

.winner {
    position: absolute;
    height: 30px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
    color: white;
}

.win {
    border: 2px solid green;
}



.bust {
    border: 2px solid red;
}

.red {
    color: red;
}

.bust-ele {
    position: absolute;
    padding: 1px;
    border: 1px solid red;
    right: 3px;
    bottom: 20px;
    color: red;
}

.play-again {
    position: absolute;
    height: 50px;
    width: 120px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.hide {
    display: none;
}